# Зависимости
/node_modules
/.pnp
.pnp.js

# Переменные окружения
.env*.local
.env

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Среда разработки
.next/
out/

# Инструменты сборки
.cache/

# Тесты
/coverage

# Разное
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
# .gitignore
.env.local
.env*.local
node_modules/
.next/
*.log
.DS_Store
*.pem
*.key
*.crt
data/              # Папка с данными приложения
.secret
.vscode/
.idea/